@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Serif:opsz,wght@8..144,900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,900&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Roboto Serif", serif;
  margin: 0;
}

h1 {
  font-size: 4em;
  font-weight: 900; /* Heavy */
  color: #5c9090;
  display: inline-block;
  padding: 0.25em 0 0.25em 0;
}

h2 {
  font-size: 2.25em;
  color: #edcabd;
  letter-spacing: 1px;
  line-height: 1em;
  font-weight: normal;
}

h3 {
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
  color: #333;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #bdcec6;
}

[role=banner] > h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.summary {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.summary a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #efe9db;
}

body {
  color: #333;
  margin-left: 10px;
  padding: 1em;
  height: 100vh;
}

h1 {
  visibility: hidden;
}

h1:before {
  visibility: visible;
  content: "";
  background: url(images/retro-logo-final.svg) no-repeat;
  display: block;
  padding-top: 40%;
  padding-right: 50%;
  width: 40%;
  margin-left: 5rem;
  margin-top: 3rem;
  z-index: -100;
}

.summary {
  color: black;
}
.summary a {
  color: black;
}

/* sidebar styling */
.wrapper {
  position: sticky;
  height: 100vh;
}

aside.sidebar {
  width: 250px;
  height: 610px;
  z-index: 2;
}

.sidebar {
  display: grid;
  border-radius: 15px;
  height: 100vh;
  position: sticky;
  top: 25%;
  bottom: 5%;
  background: #f7b09c;
  box-shadow: 10px 10px #f59d84;
  width: 100%;
  font-size: 20px;
}
.sidebar ul {
  margin-left: 0px;
}
.sidebar li {
  text-decoration: none;
  list-style-type: none;
  color: black;
  text-align: left;
}
.sidebar li a {
  border-bottom: none;
}
.sidebar li:hover {
  transform: scale(1.12);
}

div.wrapper {
  right: 0px;
}
div.wrapper nav ul {
  padding-inline-start: 10px;
}
div.wrapper ul {
  padding-inline-start: 10px;
}
div.wrapper h3 {
  padding-inline-start: 10px;
}

.design-selection,
.design-archives,
.zen-resources {
  margin: 20px;
  border-radius: 15px;
  padding: 5px;
  width: 95%;
  max-height: 75%;
  position: relative;
  left: -35px;
  font-size: 16px;
}

.design-selection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #e8b665;
  box-shadow: 10px 10px #e5ab4f;
  height: 3fr;
  line-height: 1.1em;
}

.design-archives {
  display: flex;
  flex-direction: column;
  background: #bdcec6;
  box-shadow: 10px 10px #aec3b9;
  height: 1fr;
  line-height: 1.1em;
}

.zen-resources {
  display: flex;
  flex-direction: column;
  background: #edcabd;
  box-shadow: 10px 10px #e8baa9;
  height: 2fr;
  line-height: 1.1em;
}

/* background container for content*/
html::after {
  content: "";
  display: block;
  background-color: whitesmoke;
  transform: rotate(5deg);
  height: 100vh;
  width: 70%;
  position: sticky;
  left: 2rem;
  z-index: -30;
  grid-row-start: 2;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  font-size: 85%;
  color: black;
  margin: 1rem;
  padding: 1rem;
  background-color: transparent;
}

.participation,
.benefits {
  grid-area: 2;
}

.requirements {
  grid-area: 3;
}

.main-supporting {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: " 1 " " 2 " " 3 ";
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-height: 17rem;
  background: whitesmoke;
  z-index: 2;
  padding-top: 3rem;
  margin: 0px;
}
header h2 {
  position: absolute;
  top: 4.5rem;
  left: 5rem;
}

section#zen-intro {
  grid-column: 1/2;
}

div#zen-supporting {
  grid-column: 1/2;
}

div .preamble h3 {
  grid-area: h3;
}

div .preamble p:nth-of-type(1) {
  grid-area: p1;
}

div .preamble p:nth-of-type(2) {
  grid-area: p2;
}

div .preamble p:nth-of-type(3) {
  grid-area: p3;
}

.summary {
  margin-top: 265px;
}

/*.preamble {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 60% 30%; //was 1fr 1fr plus rows of 1fr 1fr 1fr
  grid-gap:15px;
  grid-template-areas:
    "p1 h3"
    "p2 h3 "
    "p3 h3 ";
} */
.preamble h3 {
  float: right;
}

.explanation h3 {
  float: left;
}

.participation h3 {
  float: right;
}

.requirements h3 {
  float: left;
}

footer {
  display: flex;
  font-size: 2.5em;
  position: absolute;
  top: 15%;
  right: 10%;
  z-index: 2;
}
footer .zen-validate-html,
footer .zen-validate-css,
footer .zen-license,
footer .zen-accessibility,
footer .zen-github {
  display: flex;
  padding: 20px;
  border-bottom: none;
  transform: rotate(25deg);
}
footer .zen-validate-html:hover,
footer .zen-validate-css:hover,
footer .zen-license:hover,
footer .zen-accessibility:hover,
footer .zen-github:hover {
  transform: scale(1.25) rotate(25deg);
}

.zen-validate-html {
  position: fixed;
  top: 10;
  right: 44%;
}

.zen-validate-css {
  position: fixed;
  top: 10;
  right: 36%;
}

.zen-license {
  position: fixed;
  top: 10;
  right: 28%;
}

.zen-accessibility {
  position: fixed;
  top: 10;
  right: 18%;
}

.zen-github {
  position: fixed;
  top: 10;
  right: 10%;
}

aside {
  grid-column: 3/span 1;
  grid-row-start: 1;
  margin-top: 30px;
  position: absolute;
  top: 40%;
  height: 100vh;
}

/* designated footer*/
.requirements p:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background: white;
  padding: 35px;
  width: 100%;
}

.intro h3,
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3 {
  visibility: hidden;
}

.intro h3::before,
.explanation h3::before,
.participation h3::before,
.requirements h3::before {
  visibility: visible;
  content: "";
  background: url(/images/3.png) no-repeat center;
  padding: 180px 20px 20px;
  width: 350px;
  height: 215px;
  display: block;
  margin-bottom: 10px;
  margin-right: 30px;
  box-shadow: 5px 10px 18px #888888;
  z-index: 0;
  transform: rotateX(40deg) skewY(2deg) skewX(-2deg);
}

.explanation h3::before,
.requirements h3::before {
  transform: rotateX(-40deg) skewY(-2deg) skewX(2deg);
}

.intro h3:before {
  background: url(/images/1.png) no-repeat center;
}

.explanation h3::before {
  background: url(/images/2.png) no-repeat center;
}

.participation h3::before {
  background: url(/images/3.png) no-repeat center;
}

.requirements h3::before {
  background: url(/images/4.png) no-repeat center;
}

@media (max-width: 800px) {
  h1:before {
    padding-top: 150px;
    padding-right: 205px;
  }
  header {
    height: 200px;
  }
  header h2 {
    top: 200px;
  }
  footer {
    top: 27%;
    left: 10%;
    font-size: 1.5em;
  }
  footer .zen-validate-html,
footer .zen-validate-css,
footer .zen-license,
footer .zen-accessibility,
footer .zen-github {
    transform: rotate(0deg);
    padding: 5px;
  }
  footer .zen-validate-html:hover,
footer .zen-validate-css:hover,
footer .zen-license:hover,
footer .zen-accessibility:hover,
footer .zen-github:hover {
    transform: scale(1.25) rotate(0deg);
  }
  .zen-validate-html {
    top: 2%;
    right: 5%;
  }
  .zen-validate-css {
    top: 6%;
    right: 5%;
  }
  .zen-license {
    top: 10%;
    right: 5%;
  }
  .zen-accessibility {
    top: 14%;
    right: 5%;
  }
  .zen-github {
    top: 18%;
    right: 5%;
  }
  .summary {
    margin-top: 215px;
  }
  .preamble {
    display: block;
  }
  .intro h3,
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3 {
    visibility: visible;
  }
  .intro h3::before {
    background: url(/images/parallax1.png) no-repeat center;
    box-shadow: none;
  }
  .explanation h3::before {
    background: url(/images/parallax2.png) no-repeat center;
    box-shadow: none;
  }
  .participation h3::before {
    background: url(/images/parallax3.png) no-repeat center;
    box-shadow: none;
  }
  .requirements h3::before {
    background: url(/images/parallax4.png) no-repeat center;
    box-shadow: none;
  }
  .intro h3:before,
.explanation h3:before,
.participation h3::before,
.requirements h3::before,
footer:before {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateX(0deg) skewY(0deg) skewX(0deg);
    width: 100%;
  }
  aside {
    grid-column: 1/2;
    grid-row: 3;
  }
  /* aside.sidebar{
      position:absolute;
      top:0%;
      right:-270px;
      transform: translate3d(-260px, 0, 0);
      transition: transform 0.35s;
  } */
}

/*# sourceMappingURL=style.css.map */
